.num-of-question {
  position: absolute;
  left: calc(50% - 12px);
  color: var(--color-white);;
  z-index: 50;
}

.process-lines-container {
  position: relative;
}

.process-indicator-white {
  display: block;
  width: 100%px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.521);
}

.process-indicator-blue {
  display: block;
  position: absolute;
  width: 0;
  height: 24px;
  background-color: var(--color-blue-200);
  z-index: 20;
}