/* backgrounds */
/***********************************/

.container {
  width: 100vw;
  height: 100vmax;
  text-align: center;
  overflow: hidden;
}

.question-section {
  padding: 1em;
}

.bg-0 {
  background: no-repeat url("../assets/bg/bg_0-min.png");
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background: no-repeat url("../assets/bg/bg_1-min.png");
  background-size: cover;
  background-position: center;
}

.bg-2 {
  background: no-repeat url("../assets/bg/bg_2-min.png");
  background-size: cover;
  background-position: center;
}

.bg-3 {
  background: no-repeat url("../assets/bg/bg_3-min.png");
  background-size: cover;
  background-position: center;
}

.bg-4 {
  background: no-repeat url("../assets/bg/bg_4-min.png");
  background-size: cover;
  background-position: center;
}

.bg-5 {
  background: no-repeat url("../assets/bg/bg_5-min.png");
  background-size: cover;
  background-position: center;
}

.bg-6 {
  background: no-repeat url("../assets/bg/bg_6-min.png");
  background-size: cover;
  background-position: center;
}

.bg-7 {
  background: no-repeat url("../assets/bg/bg_7-min.png");
  background-size: cover;
  background-position: center;
}

.bg-8 {
  background: no-repeat url("../assets/bg/bg_8-min.png");
  background-size: cover;
  background-position: center;
}

.bg-9 {
  background: no-repeat url("../assets/bg/bg_9-min.png");
  background-size: cover;
  background-position: center;
}

@media screen and (orientation: landscape) {
  .landscape-bg {
    background-position: center;
  }
}

/*********************************************/

.question-container {
  margin-bottom: 1.5em;
}

.question {
  width: min(100%, 650px);
  padding: 0.3em;
  background-color: var(--color-black-bg);
  margin: auto;
  color: var(--color-orage-100);
  border-bottom: solid 1px var(--color-orage-100);
  border-left: solid 2px var(--color-orage-100);
  border-right: solid 2px var(--color-orage-100);
  border-radius: var(--border-radius-s);
}

.question h2 {
  font-size: var(--font-size-l);
}

.nimbus-img {
  width: 55%;
  position: relative;
  top: 20px;
  left: 170px;
  transform: rotateZ(-5deg);
}

.list {
  width: min(100%, 650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5em auto;
  gap: 1em;
}

.list li {
  width: 100%;
  transform: translateX(-100px);
  opacity: 0;
}

.list li button {
  width: 100%;
  padding: 0.5em;
  font-size: var(--font-size-m);
  background-color: var(--color-white-alpha);
  border-left: solid 2px var(--color-orage-100);
  border-right: solid 2px var(--color-orage-100);
  border-radius: var(--border-radius-s);
}

/***************************************************
diploma page **************************************/

.diploma-section-bg {
  width: 100%;
  height: 100vmax;
  padding: 2em .5em;
  background: url("../assets/pop_up_bg-min.png");
  background-size: cover;
  background-repeat: repeat;
}


.diploma-container {
  position: relative;
}

.diploma-text-container {
  font-family: var(--font-title);
  font-weight: 400;
  width: 100%;
  padding: 0 1em;
  position: absolute;
  top: 25%;
}

.diploma-text {
  font-size: var(--font-size-m);
  margin-bottom: 1em;
}
.diploma-name,
.diploma-container p,
time {
  font-size: var(--font-size-s);
}

.diploma-name + p {
  font-size: 0.8rem;
  margin: 0.5em 0em 0.6em 0em;
}

.diploma-img {
  width: 100%;
}

.diploma-name {
  position: relative;
  font-weight: bold;
}

.diploma-name::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 1px;
  left: calc(50% - 150px);
  background-color: black;
  margin-top: 0.2em;
}

.link-paragraph {
  font-size: var(--font-size-m);
  margin-top: 1em;
}

.download-link {
  padding: .4em .6em;
  color: var(--color-orage-100);
  filter: drop-shadow(0px 0px 2px black);
}

/* timer */
/***********************************/

.timer-display {
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  padding: 0.65em 1em;
  background-color: var(--color-black-bg);
  color: var(--color-white);
  border-radius: var(--border-radius-xl);
  box-shadow: 0 0 4px var(--color-orage-200), 0 0 68px var(--color-orage-200);
}


/***************************************/
/*test */
/***********************************/

.test {
  position: absolute;
  bottom: 50px;
  margin-top: 1rem;
  color: white;
}

.test button {
  padding: 0.2em 1em;
}

.test-div {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  border-right: 3px solid orange;
  transform: rotate(45deg);
}
/***********************************/
