.question-container {
  margin-bottom: 1.5em;
}

.question {
  width: min(100%, 650px);
  padding: 0.3em;
  background-color: var(--color-black-bg);
  margin: auto;
  color: var(--color-orage-100);
  border: solid 1px var(--color-orage-100);
}

.question h2,
.list li button {
  font-size: var(--font-size-l);
}

.nimbus-img {
  width: 55%;
  position: relative;
  top: 20px;
  left: 85px;
  transform: rotateZ(-5deg);
}

.list {
  width: min(100%, 650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5em auto;
  gap: 1em;
}

.list li {
  width: 100%;
}

.list li button {
  width: 100%;
  padding: 0.3em 0;
  letter-spacing: 0.09em;
  color: var(--color-white);
  background-color: var(--color-black-bg);
  border: solid 1px var(--color-orage-100);
  border-radius: var(--border-radius-xl);
}


/*test */
/***********************************/

.test {
  position: absolute;
  bottom: 0;
  margin-top: 2rem;
  color: white;
}

.test button {
  padding: 0.2em 2em;
}
/***********************************/
