.start-page {
  width: 100%;
  height: 100vh;
  padding: 7em 1em 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-title);
  letter-spacing: 0.1em;
  background: url("../assets/start_page_bg-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -180px;
}

.welcome-text {
  font-size: var(--font-size-m);
  margin-bottom: 1em;
  color: var(--color-white);
  text-wrap: balance;
}

.welcome-text h2 {
  margin-bottom: 1.5em;
  color: var(--color-orage-100);
}

.btn-container {
  width: 100%;
}

.snitch-img {
  width: 55%;
  position: relative;
  left: 40%;
  bottom: 30%;
}

.start-btn {
  font-size: var(--font-size-xl);
  padding: 0.2em 1.1em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-orage-100);
  -webkit-text-stroke: 1px var(--color-orage-200);
  background-color: var(--color-black-bg);
  border-radius: var(--border-radius-s);
  border-left: 2px solid var(--color-orage-100);
  border-right: 2px solid var(--color-orage-100);
  border-bottom: 1px solid var(--color-orage-100);
}


/*----------------------------------------------------------
----------------------------------------------------------*/
.function-btns-container {
  width: 100%;
  margin-top: 3em;
}

.magic-wand-img {
  transform: rotateZ(180deg);
  width: 50%;
 
}

.function-btn {
  text-align: left;
  margin-bottom: 3em;
}

.chose-username-btn {
  font-size: var(--font-size-m);
  background: transparent;
  color: var(--color-orage-100);
  z-index: 20;
}
