
.user-name-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-name-modal button {
  width: 80%;
  padding: 0.6em 1.8em;
  margin: 2.5em 0 0 0;
  border-radius: var(--border-radius-xl);
  text-transform: uppercase;
  background-color: var(--color-orage-100);
  border: 1px solid var(--color-orage-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.input-container {
  position: relative;
  width: 90%;
  height: 60px;
}

.label {
  position: absolute;
  left: 0;
  padding: 0 1em;
  color: var(--color-gray);
  bottom: 12px;
  z-index: 111;
  transition: all 0.5s ease;
}

.user-input {
  position: relative;
  width: 100%;
  font-size: var(--font-size-m);
  padding: 0.3em;
  background: transparent;
  text-transform: capitalize;
  border-bottom: 1px solid var(--color-gray);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

.user-input:focus {
  outline: none;
}

.user-input:focus + .label,
.user-input:valid + .label {
  transform: translateY(-45px);
}
