*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  text-align: center;
  text-decoration: none;
  list-style: none;
  border: none;

  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: inherit;
  font-size: 1rem;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

:root {
  /*** FONT-SIZES ***/
  --font-size-s: clamp(1rem, 5vw, 1.2rem);
  --font-size-m: clamp(1.3rem, 4vw, 2.2rem);
  --font-size-l: clamp(2rem, 5vw, 2.5rem);
  --font-size-xl: clamp(2rem, 12vw, 3.5rem);

  /*** FONT-FAMILY ***/
  --font-title: "Cinzel Decorative", serif;
  --font-regular: "MedievalSharp", "serif";

  /*** COLORS ***/
  --color-orage-100: rgba(232, 164, 61, 1);
  --color-alpha-orage-100: rgba(232, 164, 61, 0.6);
  --color-alpha-orage-50: rgba(232, 164, 61, 0.2);
  --color-orage-200: rgba(152, 127, 89, 1);
  --color-gray: rgb(42, 42, 42);
  --color-white: rgb(246, 246, 246);
  --color-white-alpha: rgba(246, 246, 246, 0.6);
  --color-white-alpha-shadow: rgba(246, 246, 246, 0.25);
  --color-black-bg: rgb(0, 0, 0, 0.8);
  --color-blue-200: rgb(0, 135, 219);

  --color-bg: linear-gradient(
    130deg,
    rgba(116, 107, 98, 1),
    rgb(200, 180, 153),
    rgba(95, 82, 76, 1)
  );
  --color-danger: rgba(194, 0, 0, 0.7);
  --color-danger-text: rgb(194, 0, 0);

  /*** BORDER-RADIUS ***/
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 50px;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

body {
  width: 100%;
  height: 100vmax;
  background: var(--color-bg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 4px 100px rgba(0, 0, 0, 0.25),
    inset 0 0 50px rgba(107, 69, 51, 0.6);
  font-family: var(--font-regular);
}

img {
  display: block;
}

/*-----------------------------------------------------------------------*/
/*reader style-----------------------------------------------------------*/

#reader button {
  padding: 0.6em 1em;
  margin: 2em 0 1em 0;
  border-radius: var(--border-radius-xl);
  text-transform: uppercase;
  background-color: var(--color-orage-100);
  border: 1px solid var(--color-orage-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#reader__header_message {
  font-size: 1rem !important;
  padding: 1em !important;
  color: black !important;
  border: none !important;
  border-radius: var(--border-radius-s) !important;
  background-color: rgb(255, 84, 84) !important;
}

#reader {
  border: none !important;
}

#reader img[alt="Info icon"] {
  display: none;
}

#reader__dashboard_section_csr :nth-child(2) {
  display: none;
}

#reader__dashboard_section_csr button {
  visibility: hidden;
}

#reader__dashboard_section_csr button::after {
  content: "Kamera Engedélyezése";
  visibility: visible;
  display: block;
  font-size: var(--font-size-m);
  padding: 0.5em 1.1em;
  margin-top: 2em;
  text-transform: uppercase;
  color: var(--color-orage-100);
  background-color: var(--color-black-bg);
  border-radius: var(--border-radius-s);
  border-left: 2px solid var(--color-orage-100);
  border-right: 2px solid var(--color-orage-100);
}

/*-----------------------------------------------------------------------*/
/*modal basic style-----------------------------------------------------------*/

.modal {
  width: min(85%, 550px);
  margin: auto;
  padding: 1rem 0;
  z-index: 2;
  background: url("./assets/pop_up_bg-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 4px 100px rgba(0, 0, 0, 0.25),
    inset 0 0 50px rgba(107, 69, 51, 0.6), 0 0 32px var(--color-white-alpha-shadow);
  border: 2px solid var(--color-orage-200);
  border-radius: var(--border-radius-s);
}

.modal::backdrop {
  background-color: rgba(22, 29, 24, 0.8);
}

.btn, .btn-big {
  font-size: 1.3rem;
  padding: 0.2em 1.1em;
  margin-top: 2em;
  text-transform: uppercase;
  color: var(--color-orage-100);
  background-color: var(--color-black-bg);
  border-radius: var(--border-radius-s);
  border-left: 2px solid var(--color-orage-100);
  border-right: 2px solid var(--color-orage-100);
}

.btn-big {
  padding: .5em 1.1em;
}

.header-contaier {
  margin-bottom: 1em;
  padding: .8em;
}

.header-contaier h2 {
  font-size: 1.7rem;
  font-family: var(--font-title);
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-orage-100);
}

.magic-wand-img {
  width: 80%;
  margin: auto;
}